* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system,
  BlinkMacSystemFont,SegoeUI,
  Roboto,Oxygen-Sans,Ubuntu,
  Cantarell,Helvetica Neue,
  sans-serif;
  background-color: #4392f1;
  color: #262626;
}

a {
  color: #4392f1;
  display: contents;
}

a:hover {
  color: #dc493a;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006494;
  grid-area: h;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: c;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006494;
  grid-area: f;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: #e6e6e6;
  background: #262626;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.user-form input {
  margin: 5px;
  width: 200px;
  font-size: 16px;
  text-align: center;
  padding: 2px;
}

.form-label {
  font-size: 20px;
  font-weight: 600;
}
